{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h2><em>{{ flatpage.content }}</em></h2>

        <h1 style="text-align: center;"><strong>Chapter I</strong></h1>
        <div style="text-align: center;"><img src="https://mf.b37mrtl.ru/rbthmedia/images/2021.09/original/614aee2115e9f977ab0be337.jpg" alt="" width="696" height="456" /></div>
        <p style="padding-left: 30px; text-align: center;"><em>&lsquo;Well, Prince, so Genoa and Lucca are now just family</em></p>
        <p style="padding-left: 30px; text-align: center;"><em>estates of the Buonapartes. But I warn you, if you don&rsquo;t</em></p>
        <p style="padding-left: 30px; text-align: center;"><em>tell me that this means war, if you still try to defend the</em></p>
        <p style="padding-left: 30px; text-align: center;"><em>infamies and horrors perpetrated by that Antichrist - I</em></p>
        <p style="padding-left: 30px; text-align: center;"><em>really believe he is Antichrist - I will have nothing more</em></p>
        <p style="padding-left: 30px; text-align: center;"><em>to do with you and you are no longer my friend, no longer</em></p>
        <p style="padding-left: 30px; text-align: center;"><em>my &lsquo;faithful slave,&rsquo; as you call yourself! But how do you</em></p>
        <p style="padding-left: 30px; text-align: center;"><em>do? I see I have frightened you - sit down and tell me all the news</em></p>
        <div style="padding-left: 30px; text-align: center;"><span style="color: #ff0000;"><em>It was in July, 1805, and the speaker was the well-</em></span></div>
        <div style="padding-left: 30px; text-align: center;"><span style="color: #ff0000;"><em>known Anna Pavlovna Scherer, maid of honor and</em></span></div>
        <div style="padding-left: 30px; text-align: center;"><span style="color: #ff0000;"><em>favorite of the Empress Marya Fedorovna. With these</em></span></div>
        <div style="padding-left: 30px; text-align: center;"><span style="color: #ff0000;"><em>words she greeted Prince Vasili Kuragin, a man of high</em></span></div>
        <div style="padding-left: 30px; text-align: center;"><span style="color: #ff0000;"><em>rank and importance, who was the first to arrive at her</em></span></div>
        <div style="padding-left: 30px; text-align: center;"><span style="color: #ff0000;"><em>reception. Anna Pavlovna had had a cough for some days.</em></span></div>
        <div style="padding-left: 30px; text-align: center;">&nbsp;</div>


{% endblock content %}